.future-weather {
  height: 100px;
  width: 100%;
  /* min-width: 370px; */
  padding: 1rem;

  .date,
  .weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    h3 {
      font-size: 15px;
    }
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }

  .weather {
    p {
      padding: 0.5rem;
    }
  }
}
